@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

body {
  text-align: center;
  background-image: url('./bee.jpg');
  background-repeat: repeat;
  background-color: grey;

  --color1: hsla(57, 79%, 91%, 1);
  --color2: hsla(32, 44%, 86%, 1);
  --color3: hsla(38, 17%, 72%, 1);
  --color4: hsla(326, 7%, 54%, 1);
  --color5: hsla(290, 11%, 67%, 1);
}

header {
  
}

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--color1);
  opacity: 0.8;
  width: 90%;
  margin: 50px;
  border: black 2px solid;
}